.Fieldset > *,
.Form > * {
    display: block;
}

.Fieldset * {
    padding: .1em;
}

.Fieldset .NoBorder {
    margin: 0;
    padding: 0;
    border: 0;
}

.Label *:first-child:after {
    content: ":";
}

.Form .ActionButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1vmin;
}