.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Header * {
    font-size: 8vmin;
    margin-left: 1vw;
}

.Header > *:first-child {
    margin-right: auto;
    overflow: hidden;
}