.Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.Item > *:first-child,
.Item > *:last-child {
    flex-shrink: 0;
}

.Item > *:not(:first-child):not(:last-child) {
    flex-grow: 1;
    width: 100%;
}

.Item-Header {
    display: flex;
    flex-direction: column;
}

.Item-Header .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.Item-Header button {
    margin-left: 1vw;
    margin-right: 1vw;
    color: inherit;
    cursor: pointer;
}

.Item-Header > *:first-child > * {
    font-size: 15vmin;
}

.Item-Header .name {
    border: 0;
    background: inherit;
    overflow: hidden;
}

.Item-Header .left {
    margin-right: auto;
}
  
.Item-Header .right {
    margin-left: auto;
}

.Item .distance {
    font-size: 28vmin;
}

.Item .distance .unit {
    font-size: .5em;
}