.Root {
  background-color: lawngreen;
  padding-left:  1vw;
  padding-right: 1vw;
  height: 100vh;
  color: red;
}

.Root > *:first-child {
  height: 10vh;
}

.Root > *:not(:first-child) {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}