.Root {
    background-color: lawngreen;
    padding-left:  1vw;
    padding-right: 1vw;
    height: 100vh;
    color: red;
    display: flex;
    flex-direction: column;
}

.Root > *:first-child,
.Root > *:last-child {
    flex-shrink: 0;
}

.Root > *:not(:first-child):not(:last-child) {
    flex-grow: 1;
}