body {
    background-color: lawngreen;
}

.Root {
    height: 100vh;
    color: red;
    display: flex;
    flex-direction: column;
}

.Root > *:first-child,
.Root > *:last-child {
    flex-shrink: 0;
}

.Root > *:not(:first-child):not(:last-child) {
    flex-grow: 1;
}

.FakeButton {
    border: 0;
    background: inherit;
    color: inherit;
    cursor: pointer;
}