.App {
  background-color: lawngreen;
  padding-left:  1vw;
  padding-right: 1vw;
  height: 100vh;
  color: red;
}

.App a:visited {
  color: inherit;
}

.App > *:not(:first-child) {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form > * {
  display: block;
}